*{ /*code from IAT339 FLEXBOX Lab*/
    box-sizing: border-box;
}

.box {
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
}

.box-item-nav {
    
    flex-grow: 1;
    flex-shrink: 1;
    order:2;
    
}

.box-item-image{
        flex:3 1 400px;
}

.box-item-text{
    flex:1 1 18rem; /*shorthand version of flex-grow, flex-shrink, flex-basis*/
    padding: 0 1rem;
}



.container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;
    align-items: flex-start;
}

.circular-con{
    margin:5px;
    flex:1 1 1rem;
    padding: 0 1rem;
    max-width: 25rem;
}

.duplicate-sans-con{
    margin:5px;
    flex: 1 1 1rem;
    padding: 0 1rem;
    max-width: 25rem;
}

.box-item-colour {
    flex:1 1 1rem;
    height: 200px;
	display: block;
	color: white;
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	
}

.bx{
    background-color: rgb(42,107,65);
}

.bx1{
    background-color: rgb(245,226,130);
}

.bx2{
    background-color: rgb(245,165,130);
}

.bx3{
    background-color: rgb(143,168,245);
}

.bx4{
    background-color: rgb(244,221,201);
}

/* PRODUCT LISTING ELEMENTS*/
.listing-con{
    
    padding: 0.1rem 0.30rem;
    max-width: 20rem;
    justify-content: center;
    flex-direction: column;
}


.listing-img{
    flex:3 1 1rem;
    align-self: center;
}

.listing-txt{
    /* margin:5px;  */
    flex:1 1 1rem;
    /* padding: 0 1rem; */
    max-width: 16rem;
    flex-wrap: wrap;
}


.listing-con:hover, .listing-con:active{
    background-color: rgb(244,221,201); 
	transition: color 0.5s;
}

.payment-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;
    align-items: flex-start;
    border: rgb(0,0,0); 
    max-width: 26rem;
}

.payment-element-cont{
    
    padding: 0.5rem 0.5rem;

}