textarea {
    border-radius: .5rem;
    border-width: .15rem;
}

textarea:hover, textarea:focus, textarea:active {
    border-color: #EC5454;
    background-color: #AAD6FF;
}

/* .contact {
    padding: 1rem;
    width: 50rem;
} */

.contact-form{
    background-color: #FFF;
    padding: 1rem;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    margin-right: 0;
    border-style: solid;
    border-color: #000;
    border-width: .2rem;
}