
html {
    font-size: 16px;
}

body {
    font-family: 'AnonymousPro', monospace;
    font-size: 1em;
    background-color: #FFDB58;
    padding: 2rem 4rem 2rem 4rem;
}

section {
    margin: 1rem 8% 4rem;
}

/* header and navigation related moved to separate file
header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 3rem;
}

.headingchild {
    flex: 1;
    font-size: 2.5rem;
    -webkit-text-stroke-width: .13rem;
    margin-top: 0;
}

.navchild {
    flex: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}


@media only screen and (max-width: 1420px) {
    .navchild {
        flex-direction: column-reverse;
        align-items: end;
    }
}

.navchild > a{
    float: right;
}

nav > a {
    margin-left: 1rem;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    border-radius: 5rem;
    border-width: .15rem;
}

nav > a:hover:not(.selectednav), nav > a:focus:not(.selectednav), nav > a:active:not(.selectednav) {
    color: #EC5454;
    transition: color 0.3s ease-in;
}

.selectednav {
    background-color: #EC5454;
    color: #FFF;
}

*/

/* text elements */
h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-weight: 900;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: .1rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #EC5454;
    font-weight: bold
}

h3 {
    font-family: 'Poppins';
}

h4 {
    font-weight: bold;
}

.bodyexample {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 2rem;
}

/*interactive elements */
.hyperlink {
    color: #EC5454;
    font-weight: bold;
    text-decoration: none;
    padding: .3rem;
}

.image-link > img:hover, .image-link > img:focus, .image-link > img:active {
    border-radius: 100%;
    transition: border-radius 0.8s ease-in-out;
}

.hyperlink:hover, .hyperlink:focus, .hyperlink:active {
    color: #FFF;
    background-color: #EC5454;
}

.buttonmain{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: .1rem;
    background-color: #EC5454;
    color: #FFF;
    border-radius: 5rem;
    border-style: solid;
    border-color: #000;
    border-width: 0.14rem;
    padding: .5rem 2rem .5rem 2rem;
}

.buttonsecondary {
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: none;
    -webkit-text-stroke: #000000;
    -webkit-text-stroke-width: 0.1rem;
    background-color: #AAD6FF;
    color: #FFF;
    border-radius: 5rem;
    border-style: solid;
    border-color: #000;
    border-width: 0.14rem;
    padding: .5rem 2rem .5rem 2rem;
}

.buttonmain:hover, .buttonmain:focus, .buttonmain:active, .buttonsecondary:hover, .buttonsecondary:focus, .buttonsecondary:active{
    background-color: #000;
    transition: background-color 0.6s ease-out;
}

input[type=text] {
    border-radius: .5rem;
    border-width: .15rem;
}

input[type=text]:hover, input[type=text]:focus, input[type=text]:active {
    border-color: #EC5454;
    background-color: #AAD6FF;
}

input[type=radio]{
    accent-color: #EC5454;
}

.primary-colour {
    color: #EC5454;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 0.1rem;
    font-weight: 900;
    font-size: 1.5rem;
}

.secondary-colour {
    color: #AAD6FF;
    -webkit-text-stroke: #000;
    -webkit-text-stroke-width: 0.1rem;
    font-weight: 900;
    font-size: 1.5rem;
}

/*combined elements*/

form {
    background-color: #FFF;
    padding: 2rem;
    border-style: solid;
    border-color: #000;
    border-width: .2rem;
}

fieldset {
    border: none;
    display: inline;
    margin-bottom: 2rem;
}


label{
    margin: .7rem 1rem .7rem;
}

label:not(.radiolabel) {
    float: left;
}

legend{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }

.cartitem > .product{
    width: 10rem;
}

/* full listing page */

.listingpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.listingpage div {
    margin-top: 2rem;
}

.listingimage {
    flex: 1;
    padding-right: 4rem
}

.listingdescription {
    flex: 1;
}

.descriptionsection {
    margin: 1.5rem 0rem 2rem;
}


/* products page */

.listingscontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.product {
    background-color: #FFF;
    padding: 1rem;
    width: 18rem;
    border-style: solid;
    border-color: #000;
    border-width: .2rem;
}

/*span styling reference: https://stackoverflow.com/questions/14310154/how-do-i-set-a-background-color-for-the-width-of-text-not-the-width-of-the-enti*/
.product > h4 > span {
    background-color: #AAD6FF;
    border-radius: 2rem;
    padding: .3rem .6rem;
}

.priceandcart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.productimage > img {
    border-style: solid;
    border-color: #000;
    border-width: .2rem;
}

h3 > img {
    vertical-align: middle;
}

a > input {
    line-height: 1em;
}
